---
import Baselayout from '../layouts/Base.astro'

const title = 'About'
const description = 'about page content description'
const heroImage =  "/placeholder-about.jpg"

const { page } = Astro.props;
---

<Baselayout title={title} description={description}>
    <img src={heroImage} width={720} height={360} alt="" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi iure quibusdam excepturi molestiae, cupiditate nisi repudiandae at qui dolorem similique libero illo, neque nam reiciendis accusantium quo exercitationem inventore enim adipisci dicta, reprehenderit rem eaque corrupti aliquid. Quis sunt quod et earum praesentium asperiores aliquid, laudantium eveniet reiciendis veniam qui deleniti aperiam ut voluptatem maiores officiis voluptates totam provident optio. Porro consectetur fuga rerum delectus eveniet ad repellat ipsa sint inventore ratione saepe dolor quod, perspiciatis totam obcaecati magnam quibusdam rem ipsam quam non ab atque distinctio ut exercitationem? Suscipit assumenda aut, iste ipsum deserunt reiciendis vitae minima molestias minus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magni mollitia aliquam itaque iste. Tenetur facere odio nobis ad iusto omnis ipsum rem cumque consequatur qui veritatis neque eveniet temporibus possimus nisi exercitationem, dolor rerum voluptatibus culpa labore eius? Laudantium repellat quidem quod. Quae sed nulla similique, exercitationem ipsum nam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores esse quo fugit accusantium? Mollitia consectetur expedita et eaque adipisci quisquam?</p>
</Baselayout>



