---
import Baselayout from '../layouts/Base.astro'
import SocialList from '../components/SocialList.astro'
import Skill from '../components/Skill.astro'
import skills from '../content/skills.json'
import Config from '../config'
import HomeContent from '../components/HomeContent.svelte'


const title = Config.siteTitle
const description = Config.siteDescription

const { page } = Astro.props;
---

<Baselayout title={title} description={description}>
	<HomeContent client:load >
		<SocialList slot="social-list" />
		<div class="grid gap-5 grid-cols-2 sm:grid-cols-3 md:grid-cols-4" slot="skills-list">
			{skills.map((skill) => <Skill {...skill} />)}
		</div>
	</HomeContent>
</Baselayout>



