---
import {generateCategoryData} from '../utils/helpers.js'

const { posts, links, extraClass } = Astro.props;

const categories = new Set()

posts.map(post => {
    post.frontmatter.categories && post.frontmatter.categories.map(category => {
        categories.add(category);
    })
})

const uniqueCategories = generateCategoryData(categories)
---

<ul class="flex flex-wrap gap-2 text-bgColor">
    {uniqueCategories && uniqueCategories.map(category => (
        <li class={"flex items-center justify-center px-1 rounded-sm bg-accent " + (extraClass ? extraClass : "") }>
            {links ? <a  href={`/category/${category.slug}`}>{category.name}</a> : category.name}
        </li>
    ))}
</ul>