---
const { page } = Astro.props;
---


{page.url.prev ? <a class="text-accent" href={page.url.prev}>Previous</a> : null}
<span>Page {page.currentPage}</span>
{page.url.next ? <a class="text-accent" href={page.url.next}>Next</a> : null}