---
import {getTagData} from '../utils/helpers.js'
const { tagList, links, label } = Astro.props;

const tags = getTagData(tagList)
---

<span>{label ? label : 'in:'}</span>
<ul class="text-gray-500 inline">
    {tags && tags.map((tag, index) => (
        <li class="inline text-accent">
            {links ? <a  href={`/tags/${tag.slug}`}>{tag.name.toLowerCase()}</a> : tag.name.toLowerCase()}
        </li>
        <span>{(index < tags.length - 1) && ' | '}</span>
    ))}
</ul>