---
import SocialLink from './SocialLink.astro';
import socials from '../content/socials.json'
---

<div class="flex flex-wrap items-center sm:items-center gap-x-4">
	<p>Find me on</p>
	<ul class="flex items-center flex-1 gap-x-4 sm:flex-initial">
		{socials.map((social) => <SocialLink {...social} />)}
	</ul>
</div>
