---
import { Icon } from "astro-icon";
export interface Props {
  name: string;
  url: string;
  logo: string;
}
const { name, url, logo } = Astro.props;
---
<li>
    <a
        class="inline-block p-2 sm:hover:text-link"
        href={url}
        target="_blank"
        rel="noopener noreferrer"
    >
    <Icon class="w-6" name={logo} />
        <span class="sr-only">{name}</span>
    </a>
</li>