---
const { posts } = Astro.props;
---
<div class="posts">
    {posts.map((post) => (
        <article>
            <h1>{post.frontmatter.title}</h1>
            <time datetime={post.frontmatter.pubDate}>
                {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                })}
            </time>
            <p>{post.frontmatter.description}</p>
            <a href={post.url}>Read more</a>
        </article>
    ))}
</div>