---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PostTagsList from '../components/PostTagsList.astro';
import ProjectContent from "../components/ProjectContent.svelte";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		tags?: string;
        repoUrl?: string;
		demoUrl?: string;
	};
}

const {content, headings} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={content.title} description={content.description} />
	</head>

	<body>
		<Header />
			<ProjectContent {content} client:load>
				<PostTagsList tagList={content.tags} label="using:" slot="tags-list" />
				<slot slot="content" />
			</ProjectContent>
		<Footer />
	</body>
</html>
